        body, html{
        background-image: url('../images/background.jpg');
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .logo-kiri{
        margin-top: 50px;
        margin-left: -65px;
        float: left;
      }
      .logo-kanan{
        margin-top: 50px;
        margin-right: -65px;
        float: right;
      }
      .menu-Kiri{
        padding-top: 200px;
      }
      .menu-link{
         margin-left: -80px;
         padding-top: 4px;
      }

